body{
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("./home_background.jpg");
  background-size: cover;
  width: 99vw;
  overflow-x: hidden;
}




